:root{--wp-admin-theme-color:#007cba;--wp-admin-theme-color--rgb:0,124,186;--wp-admin-theme-color-darker-10:#006ba1;--wp-admin-theme-color-darker-10--rgb:0,107,161;--wp-admin-theme-color-darker-20:#005a87;--wp-admin-theme-color-darker-20--rgb:0,90,135;--wp-admin-border-width-focus:2px}@media(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){:root{--wp-admin-border-width-focus:1.5px}}.reusable-blocks-menu-items__convert-modal{z-index:1000001}.reusable-blocks-menu-items__convert-modal-actions{padding-top:12px}
/*
     FILE ARCHIVED ON 02:34:35 Jan 30, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:34:49 Jan 25, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.775
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.013
  esindex: 0.014
  cdx.remote: 16.548
  LoadShardBlock: 245.913 (3)
  PetaboxLoader3.datanode: 364.828 (5)
  PetaboxLoader3.resolve: 121.396 (2)
  load_resource: 305.046
  loaddict: 188.614
*/