.ycd-hide{display:none!important}.ycd-simple-current-unite{display:inline-block}.ycd-simple-countdown-time{line-height:1}.ycd-simple-timer-dots{display:inline-block;line-height:1;margin:0 5px}.ycd-simple-current-unite-wrapper{display:inline-block;vertical-align:top}.ycd-simple-countdown-number,.ycd-simple-timer-dots{font-size:35px}.ycd-simple-countdown-label{font-size:12px;text-align:center}.ycd-simple-content-wrapper{white-space:nowrap}.ycd-simple-container{transform-origin:top left}
/*
     FILE ARCHIVED ON 02:44:36 Oct 01, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:30:31 Jan 25, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.552
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.009
  esindex: 0.01
  cdx.remote: 26.523
  LoadShardBlock: 105.907 (3)
  PetaboxLoader3.datanode: 131.792 (5)
  PetaboxLoader3.resolve: 76.485 (2)
  load_resource: 111.871
  loaddict: 50.212
*/