.widget.widget_text{word-wrap:break-word}.widget.widget_text ul,.widget.widget_text ol{margin-bottom:1em;margin-left:.875em;padding-left:.875em}.widget.widget_text li ul,.widget.widget_text li ol{margin-top:0;margin-bottom:0;padding-bottom:0;padding-top:0}.widget.widget_text ul{list-style:disc outside none}.widget.widget_text ol{list-style:decimal outside none}.widget.widget_text ul li,.widget.widget_text ol li{border:0;list-style:inherit;margin:0;padding:0;text-align:left}.widget.widget_text ul li:before{content:""}.widget.widget_text p{margin-bottom:1em}
/*
     FILE ARCHIVED ON 18:01:53 Feb 20, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:56:09 Jun 19, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.584
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.011
  esindex: 0.011
  cdx.remote: 36.129
  LoadShardBlock: 570.157 (3)
  PetaboxLoader3.datanode: 304.867 (4)
  PetaboxLoader3.resolve: 848.531 (2)
  load_resource: 602.808
*/