body {  background: white;
             color: black;
       margin-left: 3%;
      margin-right: 5% }
       
h1, h2, h3, h4, h5, h6 
     { color:black; 
       background: transparent /* Inherit from parent i.e. no change */ }

a:link    { color: blue;   background: transparent }
a:visited { color: purple; background: transparent }
a:hover   { color: navy;   background: transparent }
a:active  { color: maroon; background: transparent }

a:link.nomarkup, a:visited.nomarkup { color: black; background: transparent; text-decoration: none}
a:hover.nomarkup { color: navy; background: transparent; text-decoration: underline }
a:active.nomarkup { color: maroon; background: transparent; text-decoration: underline }

address { color: black; background: transparent; font-style: normal }

table { margin: 1ex; 
        clear: none;
      }

caption { caption-side: bottom; margin-left:auto; margin-right: auto; text-align:left;}

.grey { background: #e0e0e0; 
             color: black }

.plus2  { font-size: 152% }
.plus1  { font-size: 114% }
.plus0  { font-size: 100% }
.minus1 { font-size:  83% }
.minus2 { font-size:  65% }

.center { text-align:   center;
          margin-left:  auto;
					margin-right: auto }
.left   { text-align: left }
.right  { text-align: right }

.floatright { float: right }
.floatleft  { float: left }
.floatleft, .floatright {display: block} 

.plus2, .plus1, .plus0, .minus1, .minus2
   { font-weight: normal; padding: 0; margin: 0 }

.indent { margin: auto 3em }

q { quotes:"" "" "" "" }  

.feedbackheader { background: #666699;
                       color: #eeeeee }
.feedback       { background: #ccccff;
                       color: black;
								  text-align: left }
.responseheader { background: #669966;
                       color: #eeeeee }
.response       { background: #ccffcc;
                       color: black;
									text-align: left }
									
td.feedbackheader b a:link { background: transparent; color: #eeeeee }
td.feedbackheader b a:visited { background: transparent; color: #eeeeee  }
td.feedbackheader b a:hover { background: transparent; color: white  }
td.responseheader b a:link { background: transparent; color: #eeeeee  }
td.responseheader b a:visited { background: transparent; color: #eeeeee  }
td.responseheader b a:hover { background: transparent; color: white  }

.feedback p, .response p, 
.feedback p script, .response p script { text-align: left  }
/* The above rule is probably redundant */									
									
div[class="center"] table { text-align:   center;
                             margin-left:  auto;
					                   margin-right: auto; }
/* The above rule forces tables in a <div class="center"> to
stay centered.  Netscape/Mozilla would not center then though
IE would */
											 
.noborder { border: none }

.noitalics {font-style: normal }

.nobullets {       list-style:  none outside;
                   margin-left: 0%;
						       padding:     0% }
.nobulletsindent { list-style:  none outside;
                   margin-left: 3em;
						       padding:     0% }

.header
{
    margin-left:  auto;
    margin-right: auto;
    text-align:   center;
    clear:        both;
}

.trailer
{
    margin-left:  auto;
    margin-right: auto;
    text-align:   center;
    font-size:    83%;
    clear:        both;
}

.centerel
{
    margin-left:  auto;
    margin-right: auto;
    text-align:   center;
} 

.letter

{
    float: left;
}

.otherlinks
{
    float:      right;
	background: #e0e0e0;
	color:      black;
	width:      40%;
}

.rsidebar
{
    float:      right;
	background: #e0e0e0;
	color:      black;    
}

img
{
	border: none;
}

.clearall  { clear: both }

.bibliography { text-indent:-3ex;margin-left:3ex }

.under { text-decoration: underline }

/* The invisible class will make text in it invisible to normal
browsers.  Its only use is to give messages to the visually
impaired for example if there is an ASCII diagram it can
be used to give a link to skip the ASCII diagram which is
unreadable for blind browsers.  */
.invisible {          padding:     0px; 
		                  margin:      0px; 
						          background:  white;
						          color:       white; 
						          font-size:   0pt; 
						          line-height: 0pt}
a:link.invisible {    background: white; color: white; font-size:0pt}
a:hover.invisible {   background: white; color: white }
a:visited.invisible { background: white; color: white; font-size:0pt }
a:active.invisible { background: white; color: white }