.widget.widget_text{word-wrap:break-word}.widget.widget_text ul,.widget.widget_text ol{margin-bottom:1em;margin-left:.875em;padding-left:.875em}.widget.widget_text li ul,.widget.widget_text li ol{margin-top:0;margin-bottom:0;padding-bottom:0;padding-top:0}.widget.widget_text ul{list-style:disc outside none}.widget.widget_text ol{list-style:decimal outside none}.widget.widget_text ul li,.widget.widget_text ol li{border:0;list-style:inherit;margin:0;padding:0;text-align:left}.widget.widget_text ul li:before{content:""}.widget.widget_text p{margin-bottom:1em}
/*
     FILE ARCHIVED ON 18:01:55 Jan 21, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:50:03 Jan 25, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.528
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.01
  cdx.remote: 31.287
  LoadShardBlock: 135.727 (3)
  PetaboxLoader3.datanode: 134.144 (4)
  PetaboxLoader3.resolve: 410.663 (2)
  load_resource: 440.395
*/